<!DOCTYPE html>
<html lang="en">
<head>
    <title>WNN Mashup</title>
    <meta charset="UTF-8">
    <meta name="description" content="A project for.">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Tom Hunter">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap" rel="stylesheet">
    
</head>
<body> 

<!-- Header -->
    
<section class="d-flex flex-column justify-content-center align-items-center vh-100 position-relative bg-main">
    <h3 class="h3">There was a problem. Please try again.</h3>
    <div class="text text-center">
        <div class="button-container">
            <a class="button -blue center" href="../">Return</a>
        </div>
    </div>
    
</section>

    
</body>
</html>