<!DOCTYPE html>
<html lang="en">
<head>
    <title>TFN Mashup</title>
    <meta charset="UTF-8">
    <meta name="description" content="A Temperature, Random Number Fact, and News API Mashup.">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Tom Hunter">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap" rel="stylesheet">
    
</head>
<body> 

<!-- Header -->

<header class="position-fixed bg-main page-header">
  <nav class="d-flex justify-content-center">
    <a href="" class="logo bold flex-1"><p>TH</p></a>
    <ul class="nav-list d-flex no-list">
        <!--
      <li><a href="./about.html">About</a></li>
      <li><a href="./projects.html">Projects</a></li>
      <li><a href="./resume.html">Resume</a></li>
      <li><a href="./devblog.html">Blog</a></li>
      <li><a href="./contact.html">Contact</a></li>
      <li><a></a></li>
      -->
    </ul>
  </nav>
</header>
<section class="d-flex justify-content-center align-items-center vh-27 bg-main nav-detach-point">
  <h1 class="text-center h12 notmain">Tom Hunter
    <span class="d-block subtitle-colour h3">Temperature/Fact/News Mashup
  </h1>
</section>
    
<!-- Main Text -->
    
<section class="flex-column vh-main bg-sub">

   <div class="d-flex justify-content-center align-items-center flex-grow-1 projectgap">
    <span class="d-block title-colour h3">Temperature-Fact Generator</span>
  </div>
  <div class="d-flex justify-content-center align-items-center flex-grow-1">
      <div class="text text-center">
          Welcome to the location-based temperature, fact, and news generator. Please enter any city and country below to be told a random 
          fact based on the temperature of this location. <br><br>

          <!-- Redirect form to prevent changes in the URL -->
          <iframe width="0" height="0" name="hidden-frame" id="hidden-frame"></iframe>

          <form target="hidden-frame">
            City: 
            <input type="text" id="city" name="city" placeholder="Pick a city..." required/><br><br>
            Country:
            <input type="text" id="country" name="country" placeholder="Pick a country..." required/><br><br>
            Units:
            <input type="radio" id="c" name="units" value="M">
            <label for="c">C</label>
            <input type="radio" id="f" name="units" value="I">
            <label for="f">F</label><br><br>
            <div class="button-container">
              <button id="factButton" class="submit button -blue center">Submit Location</button>
            </div>
          </form>
      </div>
  </div>

  <div class="d-flex justify-content-center align-items-center flex-grow-1">
      <p class="text text-center fact-text result" id="temp-result">
        Your temperature will appear in this text box.</p>
  </div>

  <div class="d-flex justify-content-center align-items-center flex-grow-1 tinygap">
    <textarea class="text text-center fact-text result" id="fact-result" 
    oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
    >Your fact will appear in this EDITABLE text box.</textarea>
  </div>

  <div class="d-flex justify-content-center align-items-center flex-grow-1 projectgap">
    <span class="d-block title-colour h3">Fact-News Generator</span>
  </div>
  <div class="d-flex justify-content-center align-items-center flex-grow-1 gapbottom">
      <div class="text text-center fact-text">
        Please edit the above fact text, then submit to search for related news articles when you are ready.        
        <div class="button-container">
          <button id="newsButton" class="submit button -blue center">News Search</button>
        </div>
        <div id="news">
          <div class="justify-content-center align-items-center text-list-margin tinygap " id="newstext">
            News articles will appear here.
          </div>          
        </div>
      </div>
  </div>
</section>
    
<!-- Contact -->
    
<section class="d-flex flex-column justify-content-center align-items-center vh-27 position-relative bg-main" id="contact">
  <h3 class="h3 tinygap">Tom Hunter</h3>
  <a class="title-colour h4">n10235736</a>

    <!--
    <h3 class="h3">Let's get in touch!</h3>
    <a href="mailto:tomhunter.dev@gmail.com" class="title-colour h3">tomhunter.dev@gmail.com</a>
    
    <div id="socials-bottom">
        <a class="twitter-btn socials-btn" href="https://twitter.com/tomakesgames" target="_blank"></a>
        <a class="itchio-btn socials-btn" href="https://tom-hunter.itch.io/" target="_blank"></a>
        <a class="linkedin-btn socials-btn" href="https://www.linkedin.com/in/tom-william-hunter/" target="_blank"></a>
    </div>
    -->
</section>
    
<script src="/javascripts/submit.js"></script>
<script>
    const scrollDown = document.querySelector(".scroll-down");
    const homeScreen = document.querySelectorAll('.nav-detach-point')[0];
    const nav = document.querySelector('.page-header');
    
    // Is the given element (el) in the viewport? Use inc (int) to expand the view area in pixels 
    function isElementInViewport(el, inc) {
      var rect = el.getBoundingClientRect();
      return (
        rect.top >= -150 &&
        rect.left >= 0 &&
        rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) + inc &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }
    window.addEventListener("scroll", scrollHandler);
    
    function scrollHandler() {
      // If home screen is in view
      if (!isElementInViewport(homeScreen, 1)) nav.classList.add("shadow");
      else nav.classList.remove("shadow");
    }
</script>
    
</body>
</html>